#shape {
    width: 150px;
    height: 150px;
    background-color: blue;
    position: absolute;

}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    font-size: 1rem;
}


.btn {
    width: 8rem;
    height: 3rem;
    background-color: grey;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px;
    cursor: pointer;
}

@media (max-width: 1000px) {

    .txt {
        font-size: 1rem; 
    }

}

@media (max-width: 400px) {

    .txt {
        font-size: 0.7rem; 
    }

}



